table {
    border-collapse: collapse;
    width: 500px;
    text-align: center;
}

td, th {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px 20px;
}

th {
    background: #009ddc;
    color: #eee;
}

tr:hover {
    background: #e5e5e5;
}
